<div class="mt-6">
    <div class="dark:bg-gray-600 bg-white px-10 py-8 mx-auto rounded-lg shadow-md">
        <div class="flex">
          <img src="https://images.unsplash.com/photo-1500757810556-5d600d9b737d?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=735&amp;q=80"
                      alt="avatar" class="hidden object-cover w-10 h-10 mx-4 rounded-full sm:block">
          <div class="w-full">
            <div class="flex items-center justify-between">
              <span class="font-light dark:text-gray-100 text-gray-600"> <%= article.updated_at.strftime("%b %d, %Y")  %> </span>
              <% if user_signed_in? %>
                <% if current_user.followees.include?(User.find(article.user_id)) %>
                  <%= button_to "Unfollow", unfollow_user_path(User.find(article.user_id)), method: "POST", class: "px-2 py-1 font-bold text-gray-100 bg-gray-600 rounded hover:bg-gray-500" %>
                  
                <% else %>
                  <%= button_to "Follow", follow_user_path(User.find(article.user_id)), method: "POST", class: "px-2 py-1 font-bold text-gray-100 bg-gray-600 rounded hover:bg-gray-500" %>
                <% end%>
              <% end %>
            </div>
            <a href="<%= user_path(User.find(article.user_id)) %>">
              <span class="font-bold text-gray-700 dark:text-gray-100 hover:underline">
                <%= User.find(article.user_id).email %>
              </span>
            </a>
          </div>      
        </div>

        <div class="mt-2">
          <a href="<%= article_path(article) %>" class="text-2xl font-bold hover:underline dark:text-white"> <%= article.title %> </a>
          <p class="mt-2 text-gray-600 dark:text-gray-100"> <%= article.body.to_s[0, 250] %>... </p>
        </div>
        <div class="flex items-center justify-between mt-4">
          <%= link_to "Read more", article, class: "text-blue-500 hover:underline" %>
        </div>
    </div>
</div>

