<% content_for :content do %>
  <%= form_with model: article do |form| %>
      
    <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 md:grid-cols-5">
      
      <div class="md:col-span-5">
        <%= form.label :title, class:"dark:text-gray-100" %>
        <%= form.text_field :title, class:"block border border-grey-light w-full p-3 rounded mb-4" %>
        <% article.errors.full_messages_for(:title).each do |message| %>
          <div class="dark:text-gray-100"><%= message %></div>
        <% end %>
      </div>

      <div class="md:col-span-5">                                                     
        <%= form.label :body , class:"dark:text-gray-100" %><br>                  
        <%= form.text_area :body, size: "70x10", class: "block border border-grey-light w-full p-3 rounded mb-4" %><br>
        <% article.errors.full_messages_for(:body).each do |message| %>
          <div class="dark:text-gray-100><%= message %></div>
        <% end %>
      </div>

      <div class="md:col-span-2">
        <%= form.label :status, class:"dark:text-gray-100" %>
        <%= form.select :status, ['public', 'private', 'archived'], selected: 'public' %>
      </div>

      <div class="md:col-span-5 text-right">
        <div class="inline-flex items-end">
          <%= form.submit class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
        </div>
      </div>

    </div>
      
  <% end %>
<% end %>

<%= render "shared/form" %>
