<style>
  .pt-\[56\.25\%\] {
    padding-top: 56.25%;
  }
  .z--1 {
    z-index: -1;
  }
</style>

<article class="post-item">
  <h1 class="text-2xl font-bold dark:text-gray-100"><%= @article.title %></h1>
  <h2 class="mt-2 text-sm text-gray-500 dark:text-gray-100">
    <%= User.find(@article.user_id).email %>
    <% if current_user != User.find(@article.user_id) %>
      <span class="dark:text-gray-100 mx-1"> • </span>
      <% if user_signed_in? %>
        <% if current_user.followees.include?(User.find(@article.user_id)) %>
          <%= link_to "Unfollow", unfollow_user_path(User.find(@article.user_id)), method: "POST", class: "font-semibold text-blue-500" %>
        <% else %>
          <%= link_to "follow", follow_user_path(User.find(@article.user_id)), method: "POST", class: "font-semibold text-blue-500" %>
        <% end%>
      <% end %>
    <% end %>
  </h2>
  <h2 class="mt-2 text-sm text-gray-500 dark:text-gray-100">
    <%= @article.updated_at.strftime("%b %d, %Y") %> 
  </h2>

  <p class="text-justify mt-6 dark:text-gray-400"><%= @article.body %></p>
</article>


<div class="mx-auto flex justify-center items-center mb-8">

    <% if user_signed_in? %>    

    <button class="btn_submit flex">        
        <span><%= link_to "Edit", edit_article_path(@article) %></span>
    </button>

    <button class="btn_submit flex" >
        <span><%= link_to "Remove", article_path(@article),
                                method: :delete,
                                data: { confirm: "Are you sure?" } %></span>
    </button>

    <% end %>
</div>

<h2 class="text-xl font-bold mb-6 dark:text-gray-100">Comments (<%= @article.comments.length %>)</h2>
<%= render @article.comments %>
<br>

<% if user_signed_in? %>
  <% if current_user.followees.include?(User.find(@article.user_id)) || current_user == User.find(@article.user_id) %>
    <h2 class="text-xl font-bold mb-6 dark:text-gray-100">Add a comment:</h2>
    <%= render 'comments/form' %>
  <% else %>
    <p class="text-xl font-bold mb-6 dark:text-gray-100">Follow blogger to comment</p>
  <% end %>
<% else %>
  <p class="text-xl font-bold mb-6 dark:text-gray-100">Sign in to comment</p>
<% end %>





