<nav class="px-6 py-4 text-gray-100 bg-gray-800 shadow">
  <div class="container flex flex-col mx-auto md:flex-row md:items-center md:justify-between">
    <div class="flex items-center justify-between">
      <div>
        <a href="<%= root_path %>" class="text-xl font-bold text-gray-100 md:text-2xl">Bootcamp Blog.</a>
      </div>
      <div>
      </div>
    </div>
    <div class="flex-col  md:flex md:flex-row md:-mx-4">
      <a href="<%= root_path %>" class="nav_item">Home</a>            
      <% if user_signed_in? %>
        <%= link_to "Hi, #{current_user.email}", edit_user_registration_path, class: "nav_item" %>
        <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: "nav_item" %>
      <% else %>
        <%= link_to 'Sign In', new_user_session_path, class: "nav_item" %>
        <%= link_to 'Sign Up', new_user_registration_path, class: "nav_item" %>
      <% end %>
      <button onclick="toggleDarkMode()">Toggle dark mode</button>
    </div>
  </div>
</nav>
