<% content_for :content do %>
  <% content_for :title do %>
    <span>Log in</span>
  <% end %>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 md:grid-cols-5">
      <div class="md:col-span-5">
        <%= f.label :email, class:"dark:text-gray-100" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"custom_field border-grey-light" %>
      </div>

      <div class="md:col-span-5">
        <%= f.label :password, class:"dark:text-gray-100" %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: "custom_field border-grey-light" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="md:col-span-5">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, class:"dark:text-gray-100" %>
        </div>
      <% end %>

      <div class="md:col-span-5">
        <div class="inline-flex items-end">
          <%= f.submit "Log in", class:"btn_submit" %>
        </div>
      </div>
    </div>
  <% end %>
  <br>

  <%= render "devise/shared/links" %>

<% end %>

<%= render "shared/form" %>
