<!DOCTYPE html>
<html>
  <head>
    <title>BootcampBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="font-sans dark:bg-gray-700 bg-gray-100">
  <%= render "shared/header" %> 
  <%= render "shared/alerts" %>
  <div class="container mx-auto max-w-4xl">
    <div class="h-auto px-48 sm:px-4 mb-48">
    <%= yield %>
    </div>
  </div>


  </body>

  <script>
    const body = document.getElementsByTagName('body')[0];

    function toggleDarkMode() {
      if(body.classList.contains('dark')) {
        body.classList.remove('dark');
        localStorage.theme = 'light'
      } else {
        body.classList.add('dark');
        localStorage.theme = 'dark'
      }

      if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        document.documentElement.classList.add('dark')
      } else {
        document.documentElement.classList.remove('dark')
      }

    }
  </script>

</html>
